.alignLeft
{
    width:30%;
    float:left;
}
.alignLeft ul li
{
    list-style-type: none;
}
.alignLeft li
{
    float:right;
}
.alignCenter
{
    width:30%;
    float:right;
    position: relative;
    right: 25%;
    top: 60px;
    bottom:90px;
}
/* .mainAlign
{
    float:left;
} */
.alignRight
{
    width:30%;
    float:right;
    position: relative;
    left: 35%;
    top: 60px;
    bottom:90px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-circle1 {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
